*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
release/
app/release/
app/build/
.kotlin/
*.jks
*.keystore
secrets.properties
local.secrets
**/EncryptedSharedPreferences*
.cxx/
